<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/url-parse/dist/url-parse.js"></script>
</head>

<body>
  <div id="app-4">
    <textarea v-model="annoString" rows="8" cols="60"></textarea>
    <img v-if="showImage" :src="image" alt="">
    <p>
      {{label}}
    </p>
    <p>
      {{description}}
    </p>
  </div>

  <script>
    var anno = {
      "type": "Annotation",
      "@context": "http://www.w3.org/ns/anno.jsonld",
      "label": "The Bees",
      "body": {
        "value": "So many bees.",
        "type": "TextualBody",
        "purpose": "tagging",
        "format": "text/plain"
      },
      "target": {
        "id": "https://d.lib.ncsu.edu/collections/canvas/segIns_023#xywh=318,499,2891,3339",
        "type": "Canvas",
        "dcterms:isPartOf": {
          "id": "https://d.lib.ncsu.edu/collections/catalog/segIns_023/manifest",
          "type": "Manifest",
          "label": "Insectes. [patterns]"
        }
      },
      "motivation": {
        "id": "http://www.w3.org/ns/oa#tagging",
        "label": "tagging"
      },
      "generator": "/capture-models/generic/describing.json"
    };

    var manifestUrl = anno.target['dcterms:isPartOf'].id;
    console.log(manifestUrl)

    var vm = new Vue({
      el: '#app-4',
      data: {
        anno,
        annoString: '',
        manifest: '',
        showImage: false
      },
      computed: {
        label: function() {
          return this.anno.label
        },
        description: function() {
          return this.anno.body.value
        },
        canvas: function(){
          return this.manifest.sequences[0].canvases[0]
        },
        canvasHash: function() {
          // console.log(URL.parse(this.anno.target.id))
          var id = this.anno.target.id
          var url = new URL(id)
          return url.hash
        },
        canvasRegion: function(){
          var r = /xywh=((\d*),(\d*),(\d*),(\d*))/
          var matches = r.exec(this.canvasHash)
          return matches[1]
        },
        baseImageUrl: function(){
          return this.canvas.images[0].resource.service['@id'];
        },
        image: function() {
          return this.baseImageUrl + '/' +  this.canvasRegion + "/300,/0/default.jpg"
        }
      },
      created: function(){
        this.annoString = JSON.stringify(this.anno, null, '  ')
        axios.get(manifestUrl)
          .then(function(response) {
            vm.manifest = response.data
            vm.showImage = true
          })
          .catch(function(error) {
            console.log(response)
          })
      },
      watch: {
        annoString: function(newValue) {
          this.anno = JSON.parse(newValue)
        }
      }
    })
  </script>
</body>

</html>
