#fullimage {
  width: 49%
}

#annoimage {
  width: 49%
}

.togglebutton{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: red;
  margin-top: .5em;
  margin-bottom: .5em;
  border: none;
  color: white;
  padding: 6px 7px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.iiifannotation {
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center
}

.toggle {
  width: 49%
}

.text {
  border: 3px solid green;
  padding: 10px;
  margin: 10px;
}

#link_to_object {
  font-weight: bold
}

figcaption {
  font-size: smaller;
  font-style: italic;
  font-weight: bold;
}