@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

#fullimage {
  width: 49%
}

#annoimage {
  width: 49%
}

.togglebutton{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #811957;
  margin-top: .5em;
  margin-bottom: .5em;
  border: none;
  color: white;
  padding: 6px 7px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}

.iiifannotation {
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center
}

.toggle {
  width: 49%
}

.text {
  border: 3px solid green;
  padding: 10px;
  margin: 10px;
}

#link_to_object {
  font-weight: bold;
}

#link_to_object a {
  color: #0000FF;
}

figcaption {
  font-size: smaller;
  font-style: italic;
  font-weight: bold;
}


.tagging {
  background: #92D1E8;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tagging::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tagging::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #92D1E8;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag {
  background: #92D1E8;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #92D1E8;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.inactive {
  color: red;
  pointer-events: none;
}
.nextButton {
  font-size: 22px;
}

#storyboard_viewer {
  padding-top: 50px;
}

.seadragonbox {
  width: 60%;
  display: inline-block;
  height:600px;
}
#annotation.active {
  width: 10%;
  border: 2px solid black;
  background: white;
  position: absolute;
  top: 60px;
  display: inline-block;
  height: 250px;
  overflow: scroll;
  padding: 2px;
}

#annotation_text img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

#annotation.inactive {
  display: none;
}

.fullscreen {
display: block;
padding-left: 20px;
width: 87%;
background-color: white;
}
.window {
display: none;
}
.box {
  border: 2px solid lightblue;
}

.box:hover {
  background:grey;
   opacity: .4;
}
.close {
  display: none;
}
.close_button {
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}
