@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
$pin_size: 25;
$overlay_color: lightblue;
$seadragon_width: 100%;
$seadrgon_height: 600px;
$mid_pin: $pin_size/3 + px;
$pin_font: $pin_size + px;
$active_color: lightgreen;

.inactive {
  color: red;
  pointer-events: none;
}
.toolbarButton {
  font-size: 22px;
  background-color: #F0F0F0;
  border: 2px solid #D3D3D3;
  width: 100%;
  position: relative;
}

.storyboard_viewer {
  padding-bottom: 50px;
  position: relative;
}

.seadragonbox {
  width: $seadragon_width;
  display: inline-block;
  height:$seadrgon_height;
}

.seadragonboxfull {
  width: 100%;
  display: inline-block;
  height: 100vh;
}

.annotation {
  width: 10%;
  resize: both;
  border: 2px solid black;
  background: white;
  position: absolute;
  top: 75px;
  z-index: 2000;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 75px);
  height: auto;
  overflow: scroll;
  margin-left: 20px;
  word-wrap: break-word;
}

#annotation_text, #annotation_excerpt {
  word-wrap: break-word;
  height: auto;
  padding: 2px 5px 5px;
}

#annotation_text p {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

#annotation_text img, #annotation_text iframe {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.box:hover {
  background: grey;
  opacity: .4;
}

.box {
  border: 2px solid $overlay_color;
}

.mapmarker {
  color: $overlay_color;
  font-size: $pin_font;
}

.close {
  display: none;
}

.close_button {
  color: white;
  background: black;
  padding: 3.5px;
  margin-right: 2.5px;
  font-size: 10px;
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 15%;
  vertical-align: middle;
  line-height: 10px;
}

.mapmarker > * {
  position:absolute;
  bottom:0;
  left: calc(50% - #{$mid_pin});
}

.fullpage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border: 1px solid #000;
  z-index: 102;
}

.fullpage .toolbarButton {
  margin-left: 5px;
}

.fullpage .toolbarButton .toolbartext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  bottom: auto;
}

.fullpage .toolbarButton .toolbartext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  top: auto;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.fullpage #header_toolbar {
  margin: 0px;
}

.tags {
  font-size: smaller;
  font-style: italic;
}

#fullimage {
  width: 49%
}

#annoimage {
  width: 49%
}

.togglebutton{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #811957;
  margin-top: .5em;
  margin-bottom: .5em;
  border: none;
  color: white;
  padding: 6px 7px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}

.iiifannotation {
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center
}

.toggle {
  width: 49%
}

.text {
  border: 3px solid green;
  padding: 10px;
  margin: 10px;
}

#link_to_object {
  font-weight: bold;
}

#link_to_object a {
  color: #0000FF;
}

figcaption {
  font-size: smaller;
  font-style: italic;
  font-weight: bold;
}


.tagging {
  background: #92D1E8;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tagging::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tagging::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #92D1E8;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.toolbarButton .toolbartext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  margin-left: -100px;
  left: 50%;
  bottom: 115%;
}

.toolbarButton .toolbartext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 88%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.toolbarButton:hover .toolbartext {
  visibility: visible;
  transition-delay:1s;
}

.active.box {
  outline: 2px solid $active_color!important;
}

.active.mapmarker {
  -webkit-text-stroke: 2.5px $active_color;
}

.mapmarker.overlay.active circle, rect {
  stroke: $active_color!important;
}

.left {
  margin-left: calc(-1vw);
}

.right {
  margin-left: calc(1vw);
}

.top {
  margin-left: 0px;
  margin-top: calc(-1vw)
}

.bottom {
  margin-left: 0px;
  margin-top: calc(1vw)
}

#annotation_controls {
  display: flex;
  background: black;
  position: -web-sticky;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .annotation {
    width: 100%;
    resize: both;
    border: 2px solid black;
    background: white;
    position: absolute;
    top: 44px;
    z-index: 2;
    max-width: 100%;
    height: auto;
    overflow: scroll;
    margin-left: 0px;
    word-wrap: break-word;
    max-height: 33%;
  }
  .left, .right, .top, .bottom {
    width: auto;
    height: auto;
  }
}

.tagskey {
  -webkit-text-stroke: .2px black;
  word-break: break-all;
}

#annotation_controls .toolbartext{
  display: none;
}

#header_toolbar {
  float: right;
  margin: 10px 0px 1px;
  width: 100%;
  display: flex;
}

#header_toolbar > .toolbarButton:not(:last-child) {
    margin-right: 2px;
}
