@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import "css/textoverlay.scss";

$pin_size: 25;
$overlay_color: lightblue;
$seadragon_width: 100%;
$seadrgon_height: 600px;
$mid_pin: $pin_size/3 + px;
$pin_font: $pin_size + px;
$active_color: lightgreen;
$borderwidth: 2px;
$marginbottomtoolbar: 2px;
$toolbarfontsize: 1.5rem;
$phonetoolbarfontsize: .79rem;
$top: calc(#{$toolbarfontsize} + #{$borderwidth}*3.5 + #{$marginbottomtoolbar});
$topphone: calc(#{$phonetoolbarfontsize} + #{$borderwidth}*3.2 + #{$marginbottomtoolbar});
$annocontrolsize: 16px;
$collapseheight: calc(#{$seadrgon_height} - #{$borderwidth} - #{$marginbottomtoolbar});
$sidebyside: calc(#{$seadrgon_height} + #{$toolbarfontsize} + #{$borderwidth}*3 + #{$marginbottomtoolbar});
$sidebysidephone: calc(#{$seadrgon_height} + #{$phonetoolbarfontsize} + #{$borderwidth}*2 + #{$marginbottomtoolbar});

.toolbarButton {
  font-size: $toolbarfontsize;
  background-color: #F0F0F0;
  border: $borderwidth solid #D3D3D3;
  width: 100%;
  position: relative;
  padding: 0px;
}

.storyboard_viewer {
  padding-bottom: 50px;
  position: relative;
}

.seadragonbox {
  width: $seadragon_width;
  display: inline-block;
  height:$seadrgon_height;
}

.seadragonboxfull {
  width: 100%;
  display: inline-block;
  height: 100vh;
}

.multifullpage .seadragonbox {
  width: 100%;
  display: inline-block;
  height: 100vh;
}

.sidebyside .seadragonbox, .sidebyside .seadragonboxfull {
  width: 80%;
}

.collapse .annotation {
  height: $collapseheight;
  width: 20%;
  transition: 0.3s;
  margin: 0px;
  font-size: 18px;
  max-height: $collapseheight;
  resize: none;
}

.fullpage .collapse .annotation {
  height: calc(100vh - #{$borderwidth}*7 - #{$marginbottomtoolbar} - #{$toolbarfontsize});
  max-height: calc(100vh - #{$borderwidth}*7 - #{$marginbottomtoolbar} - #{$toolbarfontsize});
}

.fullpage .sidebyside .annotation {
  height: 100vh;
  max-height: 100vh;
}

.collapse .annotation.excerpt {
  width: $annocontrolsize*2;;
  transition: 0.3s;
  height: auto;
  resize: none;
  overflow: none;
}

.collapse .excerpt #annotation_controls .annocontrols_button:not(#hide_button) {
  display: none;
}

.collapse .excerpt #hide_button {
  font-size:  $annocontrolsize*2;
  height: auto;
  width: $annocontrolsize*2;
}
.collapse .excerpt .content {
  display: none;
}

.sidebyside {
  display: flex!important;
}

.sidebyside .annotation {
  height: #{$sidebyside};
  width: 20%;
  top: 0px!important;
  margin: 0px;
  font-size: 18px;
  max-height: #{$sidebyside};
  background: white;
  left: 80%;
  resize: none;
}

.multistoryboard .sidebyside .annotation {
  height: calc(100% - #{$borderwidth}*2);
}

.multifullpage .sidebyside .annotation {
  height: calc(100% - #{$toolbarfontsize});
}

.sidebyside .bottom_menu_annotation {
  max-height: calc(100% - 6px);
}

.defaultview .annotation {
  max-height: calc(100% - 75px);
  top: $top;
}

.collapse .bottom_menu_annotation {
  top: -1px;
  height: calc(100% - #{$toolbarfontsize} - #{$borderwidth}*7);
  max-height: calc(100% - #{$toolbarfontsize} - #{$borderwidth}*7);
}

.defaultview .bottom_menu_annotation {
  top: 0px;
}

.no_toolbar_annotation:not(.right):not(.left):not(.bottom):not(.top) {
  top: -1px!important;
}

.collapse .no_toolbar_annotation,  .sidebyside .no_toolbar_annotation{
  height: calc(100% - 4px);
  max-height: calc(100% - 4px);
}

.annotation {
  width: 20%;
  resize: both;
  border: $borderwidth solid black;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0px;
  z-index: 2147483638;
  max-width: calc(100% - 20px);
  height: auto;
  overflow: scroll;
  margin-left: 20px;
  margin-top: 20px;
  word-wrap: break-word;
}

.annotation > div {
  height: auto;
  padding: 2px 5px 5px;
  font-size: 20px;
  text-align: left;
}

#annotation_excerpt p {
  margin: 0px;
}

.content p {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.content img:not(.leaflet-marker-icon), .content iframe {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.content img:not(.leaflet-marker-icon), .content iframe {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#annotation_text {
  white-space: pre-wrap;
}

.rect:hover {
  background: grey;
  opacity: .4;
}

.overlay:hover:not(.overlay) > svg {
  background: grey;
  opacity: .4;
}

.overlay > svg > *:hover {
  fill: grey;
  fill-opacity: .4;
}

.overlay > svg > * {
  stroke-width: 3px;
  stroke:$overlay_color;
  fill: none;
  vector-effect: non-scaling-stroke;
}

.active > svg > * {
  stroke-width: 3px!important;
}
.svgactive {
  fill: none;
}
.active > svg .svgactive {
  stroke-width: 5px!important;
  stroke: $active_color;
  -webkit-transform: scale(.994);
  transform: scale(.994);
}

.overlay > svg > * {
  stroke-width: 3px;
}

.rect {
  border: 2px solid $overlay_color;
}

.pin {
  color: $overlay_color;
  font-size: $pin_font;
}

.close {
  display: none;
}

.annocontrols_button {
  color: white;
  background: black;
  margin-right: 1.5px;
  font-size: $annocontrolsize;
  text-align: center;
  width: auto;
  height: $annocontrolsize;
  border-radius: 15%;
  vertical-align: middle;
  line-height: 10px;
  border: none;
  padding: 3.5px;
  height: #{$toolbarfontsize};
  cursor: pointer;
}

.inactive {
  color: red;
  pointer-events: none;
}

.pin > *:not(svg) {
  position:absolute;
  bottom:0;
  left: calc(50% - #{$mid_pin});
}

.pin > svg {
  position:absolute;
  bottom:0;
  left: calc(50% - #{$mid_pin});
}

.fullpage, .multifullpage{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border: 1px solid #000;
  z-index: 102;
  font-size: 30px;
}

.fullpage .toolbarButton:not(:last-child) {
  margin-right: 5px;
}

.fullpage .toolbarButton .toolbartext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  bottom: auto;
}

.fullpage .toolbarButton .toolbartext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  top: auto;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.content .tags, .content .authorship, .content .attribution {
  font-size: small;
  font-style: italic;
  padding: 2.5px 0px;
}

.content .tagslist {
  display: grid;
}
#fullimage {
  width: 49%;
  vertical-align: middle;
}

.annoimage > * {
  width: 49%;
  height: auto;
  vertical-align: middle;
}

.togglebutton{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #811957;
  margin-top: .5em;
  margin-bottom: .5em;
  border: none;
  color: white;
  padding: 6px 7px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}

.iiifannotation {
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center
}

.toggle {
  width: 49%
}

#link_to_object {
  font-weight: bold;
}

#link_to_object a {
  color: #0000FF;
}

figcaption {
  font-size: small;
  font-style: italic;
  font-weight: bold;
}

#tags {
  width: calc(100% - 20px);
}

.tags {
  margin-top: 1px;
  margin-bottom: 7px;
  width: calc(100% - 40px);
  text-align: left;
  display: inline-flex;
}

.iiifannotation .tags {
  width: auto;
  display: inline-block;
  padding-right: 3rem;
}

.tags div {
  position: relative;
  width: auto!important;
}

.tags div, .tagscount {
  display: inline-block;
}

.tagscheck {
  vertical-align: middle;
}
.iiifannotation .tags div, .tags div{
  height: auto;
  font-size: 20px;
  line-height: auto;
  padding: 1px 9px 1px 8px;
  text-decoration: none;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #dadada;
  border-radius: 3px 0 0 3px;
  word-break: break-all;
  max-width: 100%;
  min-height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tagscount {
  position: absolute;
  width: max-content;
  left: 100%;
  font-size: 22px;
  top: -1px;
  height: calc(100% - 1px);
  line-height: 26px;
  padding: 1px 8px 0px 7px;
  color: white;
  background: #eb6b22;
  border: 1px solid;
  border-color: #dadada;
  border-radius: 0 3px 3px 0;
  border-width: 1px 1px 1px 1px;
  -webkit-text-stroke: .5px black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toolbarButton .toolbartext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  margin-left: -100px;
  left: 50%;
  bottom: 115%;
}

.toolbarButton .toolbartext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 88%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.toolbarButton:hover:not(:active) .toolbartext {
  visibility: visible;
  transition-delay:2s;
  z-index: 1000;
}

.active.rect {
  outline: 2px solid $active_color!important;
  outline-offset: -4px;
}

.active.pin {
  -webkit-text-stroke: .1rem $active_color;
}

.pin.overlay.active circle, rect {
  stroke: $active_color!important;
}

.top, .bottom, .right, .left {
  margin: 0px;
}

#annotation_controls {
  display: flex;
  background: black;
  position: -web-sticky;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  box-sizing: content-box;
  z-index: 20;
}

#storyboard_viewer .lang_drop {
  -webkit-appearance: attachment;
  -moz-appearance: meterbar;
  -o-appearance: button-bevel;
  appearance: button-bevel;
  margin-top: -1px;
  width: 12px;
  height: 12px;
  outline: none;
  border: none;
  color: black;
  background: black;
}

@supports (-moz-appearance:none) {
    #storyboard_viewer .lang_drop {
      color: white!important;
    }
}

.lang-icon {
  position:relative;
  font-size: $annocontrolsize;
  text-align: center;
  width: $annocontrolsize;
  height: $annocontrolsize;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 15%;
  line-height: 10px;
  padding: 3.5px;
}

.lang-icon::before {
    content:"\f0ac";
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    color:white;
    position:absolute;
    pointer-events:none;
    background: black;
    text-align: center;
    vertical-align: middle;
    display:inline;
    padding: 3.5px 3.5px 0px 0px;
}

@media only screen and (max-width: 600px) {
  .defaultview .annotation:not(.right):not(.left):not(.bottom):not(.top) {
    width: calc(100% - #{$borderwidth} - #{$borderwidth/2})!important;
    height: auto!important;
    max-height: 33%!important;

  }

  .defaultview .annotation:not(.right):not(.left):not(.bottom):not(.top):not(.no_toolbar_annotation) {
    top: calc(#{$phonetoolbarfontsize} + 7px)!important;
  }

  .sidebyside .annotation:not(.no_toolbar_annotation) {
    height: $sidebysidephone;
  }

  .multistoryboard .sidebyside .annotation {
    height: calc(100% - #{$borderwidth}*2);
  }


  .collapse .annotation { 
    top: $topphone;
  }

  .fullpage .collapse .annotation {
    height: calc(100vh - #{$borderwidth}*6 - #{$marginbottomtoolbar} - #{$phonetoolbarfontsize});
    max-height: calc(100vh - #{$borderwidth}*6 - #{$marginbottomtoolbar} - #{$phonetoolbarfontsize});
  }

  .multifullpage .sidebyside .annotation {
    height: calc(100% - #{$phonetoolbarfontsize} - #{$borderwidth}*4 - #{$marginbottomtoolbar});
  }

  .defaultview .bottom_menu_annotation {
    top: 0px;
  }

  .collapse .bottom_menu_annotation:not(.no_toolbar_annotation) {
    height: calc(100% - #{$phonetoolbarfontsize} - #{$borderwidth}*6);
    max-height: calc(100% - #{$phonetoolbarfontsize} - #{$borderwidth}*6);
  }

  .annotation {
    resize: both;
    border: $borderwidth solid black;
    background: white;
    position: absolute;
    font-size: 14px!important;
    z-index: 99999;
    max-width: 100%;
    overflow: scroll;
    margin: 0px;
    word-wrap: break-word;
  }

  .toolbarButton {
    margin-left: 0px!important;
    font-size: $phonetoolbarfontsize;
  }
}

.tagskey {
  -webkit-text-stroke: .2px black;
  word-break: break-all;
  font-weight: 900;
}

#annotation_controls .toolbartext{
  display: none;
}

#header_toolbar {
  width: 100%;
  display: flex;
}

#header_toolbar > .toolbarButton:not(:last-child) {
  margin-right: 2px;
}

#header_toolbar > .toolbarButton {
  margin-bottom: $marginbottomtoolbar;
}
.imageinfo > div {
  padding-bottom: 5px;
}

.imageinfo > h1 {
  margin: 0px;
  font-size: 1.4em;
  margin-block-end: .3em;
  margin-block-start: .3em;
}

.title {
  font-weight: bold;
}

.buttonlink {
  background: none!important;
  border: none;
  color: #069;
  text-decoration: underline;
  padding: 0px;
  cursor: pointer;
  font: inherit;
  display: flex;
  text-align: left;
  align-items: center;
}

.title .buttonlink{
  text-decoration: none;
}

.buttonlink img{
  padding-right: 10px;
}

.infolink {
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  display: block;
  font-size: large;
  margin:auto;
}

.storyboard_viewer a {
  color: -webkit-link;
  color: -moz-hyperlinkText;
  cursor: pointer;
  text-decoration: underline;
}

.annoinfo {
  padding-bottom: 10px;
}

.additionaltext {
  padding-bottom: 10px;
}

.annotationslist {
  padding-top: 10px;
}

.imagetitle h1 {
  margin-block-end: .35rem;
  margin-block-start: .35rem;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.slider {
  width: 100%;
}

#multistoryboard .annotation{
  top: 0px;
}

@media only screen and (max-width: 600px) {
  #multistoryboard .annotation {
    top: 0px!important;
  }
}

.pageButton {
  z-index: 3000000000;
  width: 5%;
  font-size: 3em;
  border: none;
  background: none;
  top: 50%;
  text-align: center;
  position: absolute;
}

.floatleft {
  left: 95%;
}

.floatright {
  left: 0;
}

.pageinactive {
  display: none;
}

.rangestoryboard {
  display: inline-flex;
  position: relative;
  width: 100%;
  height: auto;
}

.rangestoryboard .storyboard_viewer {
  width: 100%;
  height: auto;
}

.rangefullpage .pageButton{
  color: white;
  position: fixed;
}

.content {
  position: relative;
  overflow: auto;
}

.content > * {
  word-break: break-word;
}

.bottom_menu_container {
  display:flex;
  flex-direction: column-reverse;
}

#multistoryboard.bottom_menu_container .storyboard_viewer {
  padding-bottom: 0px;
}

.multistoryboard.bottom_menu_container {
  padding-bottom: 50px;
}

#multistoryboard.bottom_menu_container #header_toolbar {
  margin-top: -5px;
}

.multifullpage:not(.bottom_menu_container) .openseadragon-container {
  height: calc(100% - #{$toolbarfontsize} - #{$borderwidth}*7)!important;
}

.bottom_menu_container .seadragonbox {
  height: calc(100vh - #{$toolbarfontsize} - #{$borderwidth}*7)!important;
}

.buttonastext {
  background: none;
   border: none;
   padding: 0!important;
   font: inherit;
   color: inherit;
   text-decoration: none;
   cursor: pointer;
   text-align: inherit;
   display: block;
}

.activeword {
  background: yellow;
}

.activeword .ocrtranscription p::before {
  content:"\f0da";
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    color:black;
    position:relative;
    display: inline;
  padding-right: 6px;
}

.ocrtranscription p {
  margin: 5px;
}
.keyboard td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
table {
  border-collapse: collapse;
}

.ocrtranscription {
  padding-right: .2rem;
}

code {
  background-color: #eef;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}

table tr {
  background-color: none;
}

.iiifannotation table, .iiifannotation th, .iiifannotation td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
  width: 100%;
  table-layout: fixed;
  word-break: break-word;
}

.searchapiview {
  width: 100%;
}

.searchapiview .iiifannotation  {
  margin: 0px;
  padding: 0px;
}

#tags.tags {
  display: grid!important;
}
.subtags {
  display: block!important;
  padding-left: 10px!important;
}

.rangefullpage {
  background-color: black;
}
.rangefullpage .iiifannotation {
  overflow: auto;
  height: 100%;
  background-color: white;
}

.imageview.pageButton {
  top: 5em;
  color: black;
}

.scrolltext {
  padding-top: 20rem!important;
  padding-bottom: 20rem!important;
}

.fa-stack {
  display: -webkit-box; 
  height: $toolbarfontsize;
  line-height: $toolbarfontsize;
  width: auto;
}

.imageViewButton {
  width: 35px;
  height: 35px;
}
